#main {
    background: "#1a1a1a";
    height: "100vh";
    padding: "20px";
}

.heading {
    color: "white";
}

.stats {
    position: absolute;
    top: 100px;
    left: 100px;
    color: #00ff41;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    pointer-events: none;
    transform: scale(1.5);
}

canvas {
    border: 2px solid #555;
}